@model EnrollmentApplication.Models.Student
<h2>
    Student of the Month
</h2>
<div class="panel">
    <div class="panel-heading">
        Here's is our Student from Student of the Month
    </div>
    <div class="panel-body">
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
    </div>
</div>

